{% extends "layouts/main.html" %}

{% set pageName = 'What is the area of your expertise?' %}

{% block beforeContent %}


{{ govukBackLink({
  text: "Back",
  href:   "javascript:window.history .back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<form novalidate method="post">


{{ govukCharacterCount({
  name: "[new][expertise]",
  id: "[new][expertise]",
  label: {
    text: pageName,
    isPageHeading: true,
    classes: "govuk-label--l"
  },

  maxwords: 200,
  value: data.new.expertise
}) }}


{{ govukButton({
  text: "Continue"
}) }}










</form>

  

  </div>
</div>

{% endblock %}
 